@model IPagedList<CoreAndFood.Data.Models.Food>

@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Food</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FoodID</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/Food/FoodDelete/@item.FoodID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Food/FoodGet/@item.FoodID" class="btn btn-warning">Update</a></td>
            <td><a href="/Food/FoodDetails/@item.FoodID" class="btn btn-primary">Details</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page}))
<a href="/Food/FoodAdd" class="btn btn-success btn-block">Add Food</a>
